html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white; /* Белый цвет текста */
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
}

.slide-1 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/9736426/7d9bd223-3bba-4b70-87ec-6bb3b281ff9c/orig');
}

.slide-2 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12373972/3aff6a13-2374-44bb-a84b-dac69f7fe74b/orig');
}

.slide-3 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12373972/46155a4c-ecc4-465f-b07f-44d3d6aab1f3/orig');
}

.slide-4 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/1635340/285b0467-b782-470c-bad7-988748c2230e/orig');
}

.slide-5 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12602567/d10795a1-a7ab-45a2-9050-2b94934c4b2f/orig');
}

.slide-6 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12602567/27526ac1-761b-43da-95c6-12a1e0f85988/orig');
}

.slide-7 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/9736426/7d9bd223-3bba-4b70-87ec-6bb3b281ff9c/orig');
}

.slide-8 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12373972/3aff6a13-2374-44bb-a84b-dac69f7fe74b/orig');
}

.slide-9 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12373972/46155a4c-ecc4-465f-b07f-44d3d6aab1f3/orig');
}

/* Изменяем цвет кнопок и пагинации на белый */
.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-pagination-bullet-active {
  background: white;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  padding: 0 20px;
}

.image-container a {
  display: flex;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.one-img {
  max-width: 80%;
  margin-bottom: 20px;
}

.large-text {
  font-size: 72px;
  font-weight: bold;
  margin: 10px 0;
}

.bottom-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.gray-text {
  color: gray;
  margin-top: 10px;
}
