html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  color: white; /* Белый цвет текста */
}

.caption {
  font-size: 1.5rem;
}

.swiper-slide img {
  display: none;
  width: 80%;
  max-width: 80%;
  height: auto;
  object-fit: cover;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
}

.slide-1 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/9736426/7d9bd223-3bba-4b70-87ec-6bb3b281ff9c/orig');
}

.slide-2 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/1635340/fda97e6a-3a49-4450-8a60-ab0a6bd477f2/orig');
}

.slide-3 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12373972/46155a4c-ecc4-465f-b07f-44d3d6aab1f3/orig');
}

.slide-4 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12602567/c857cee5-90a7-4bdf-b559-a72a63d64b80/orig');
}

.slide-5 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12602567/d10795a1-a7ab-45a2-9050-2b94934c4b2f/orig');
}

.slide-6 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12602567/27526ac1-761b-43da-95c6-12a1e0f85988/orig');
}

.slide-7 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12373972/f2a26bb4-10fe-4431-afea-efee257896e1/orig');
}

.slide-8 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12373972/2c3b1613-f9f5-4a11-82bb-d999b94b662b/orig');
}

.slide-9 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/12602567/26106185-e1c2-4b98-ad9e-bf25e8a0f3c4/orig');
}

.slide-10 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/1635340/321a4223-b551-4412-8dd8-a69b9dd0fd4c/orig');
}

.slide-11 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/1635340/72e1caa1-aaf3-4803-9bec-7ec458c38af1/orig');
}

.slide-12 {
  background-image: url('https://avatars.mds.yandex.net/get-lpc/10116223/a9d9ebff-0865-428b-ad27-f189c77d9746/orig');
}

/* Изменяем цвет кнопок и пагинации на белый */
.swiper-button-next,
.swiper-button-prev {
  color: white;
}

.swiper-pagination-bullet {
  background: white;
}

.swiper-pagination-bullet-active {
  background: white;
}

.image-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.image-container a {
  display: flex;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  display: none;
}

.large-text {
  font-size: 10rem;
  font-weight: bold;
}

.title-text {
  font-size: 2rem;
  font-weight: bold;
}
